:root {
  --primary-text-color: #f3f3f3;
  /* --primary-header-color: #c9c9c9; */
  /* --pressed-state-color: */
  --primary-background-color: #100f0f;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
}

button {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 12px 24px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: rgba(188, 26, 26, 0.2);
  text-decoration: none;
  text-align: center;
}

.header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  background-image: linear-gradient(
    256.51deg,
    rgba(111, 102, 102, 0.9) 26.96%,
    rgba(16, 15, 15, 0.9) 79.08%,
    rgba(16, 15, 15, 0.9) 79.08%
  );
}

.hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 720px;
  background-image: linear-gradient(
    228.52deg,
    rgba(111, 102, 102, 0.9) 4.71%,
    rgba(16, 15, 15, 0.9) 39.77%,
    rgba(16, 15, 15, 0.9) 44.21%
  );
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 30px 0;
}

.block {
  display: flex;
}

.block-side {
  flex: 0 0 300px;
  background-color: #77608d;
}

.block-body {
  padding: 0 0 0 30px;
  flex: 1 1 auto;
  max-width: 0;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.swiper-container {
}

.image-slider-wrapper {
}

.image-slider-slide {
}

.swiper-slide {
}

.image-slider-image {
  text-align: center;
}

.image-slider-image {
  max-width: 100%;
}

/* тренинг */
.block-nav,
.block-footer {
  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 30px 10px 10px 10px;
}

/* CONTAINER */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

/* заменв на CARD SET */
.excerpt-section {
  /* Sets the border */
  border: 2px dashed #2196f3;

  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 10px;
  padding: 15px 0 150px 0;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.excerpt {
  /* Sets the border */
  border: 2px dashed #2196f3;

  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 30px 10px 10px 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  color: #fff;
}

.position {
  /* Sets the border */
  border: 2px dashed #2196f3;

  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: auto;
  height: 450px;
}

.block1 {
  width: 100%;
  height: 100px;
  border: 2px dashed #2196f3;
}

.box {
  width: 40%;
  height: 300px;
  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 10px 10px 20px 30px;
  display: inline-block;
}

.color-text-block1 {
  color: #fff;
}

.text-block1 {
  text-align: center;
}

.indigo {
  background-color: #374073;
}

.amber {
  background-color: #a98722;
}
